@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #030712;
  --green-color: #1dd100;
  --base-white: #fff;
}

body {
  font-family: "Raleway", "Inter", sans-serif;
}
.header {
}
.container {
  width: 1170px !important;
}
.header-banner {
  border-radius: 32px;
  margin-top: 47px;
}
.header-banner::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: linear-gradient(
      180deg,
      rgba(3, 7, 18, 0.5) 0%,
      rgba(3, 7, 18, 0) 100%
    ),
    lightgray 50% / cover no-repeat;
}
.eticket {
  color: var(--primary-color);
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.bus-logo {
  color: var(--green-color);
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 130px;
  height: 56px;
}
.bus-logo a {
  height: 56px;
}
.travl-name {
  color: var(--base-white);
  text-align: center;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 86px; /* 134.375% */
  width: 742px;
}
.green {
  color: var(--green-color);
}
.banner-des {
  width: 691px;
  color: var(--base-white);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.text-cont {
  height: 100%;
}
.btn {
  display: inline-flex;
  padding: 21px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--green-color);
  color: var(--primary-color);
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all ease-in-out 300ms;
}
.btn:hover {
  background-color: #54ff39;
}
.fe-item {
  width: 308px !important;
  height: 138px;
  border-radius: 24px;
  border-bottom: 3px solid var(--green-color);
  background: var(--base-white);
}
.fe-item-text h1 {
  color: var(--primary-color);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ba-text-cont p {
  color: rgba(3, 7, 18, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.be-fe-area {
  width: calc(100% - 200px);
  left: 100px;
}
.offer-item {
  border-radius: 24px;
}
.coupon-code,
.coupon-des {
  padding: 52px;
}
.bg-yellow {
  background-color: #ffbf0f;
}
.coupon-des {
  height: 220px;
  border-right: 1px dashed var(--base-white);
  position: relative;
}
.coupon-des::after,
.coupon-des::before {
  content: "";
  width: 48px;
  height: 48px;
  background-color: var(--base-white);
  position: absolute;
  border-radius: 48px;
  right: -24px;
}
.coupon-des::after {
  top: -24px;
}
.coupon-des::before {
  bottom: -24px;
}
.coupon-des h1 {
  color: rgba(3, 7, 18, 0.8);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
}
.c-des {
  color: rgba(3, 7, 18, 0.8);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.c-date {
  color: rgba(3, 7, 18, 0.5);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.coupon {
  color: var(--primary-color);
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}
.c-code {
  color: rgba(3, 7, 18, 0.4);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}
.coupon-grp {
  height: 220px;
}
.offer-item .fx {
  height: 220px !important;
}
.s-btn {
  padding: 21px 30px;
  border-radius: 12px;
  border: 1px solid var(--green-color);
  color: var(--primary-700, #1dd100);
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sw-paribahan-sec {
  border-radius: 88px 88px 0px 0px;
  border-top: 2px solid var(--green-color);
  background: #f7f8f8;
  margin-top: 120px;
}
section {
  display: block;
  float: left;
  width: 100%;
}
.sw-title-area h1 {
  color: var(--primary-color);
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sw-title-area p {
  color: rgba(3, 7, 18, 0.6);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.sw-title-des {
}
.bus-info-sec {
  background-color: var(--base-white);
  padding: 32px;
  border-radius: 24px;
}
.businfo {
  border-right: 1px dashed var(--green-color);
}
.booking-bus-name {
  color: var(--primary-color);
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sets-status {
  padding: 17px;
  color: var(--green-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 180px;
  height: 56px;
  border-radius: 12px;
  background: rgba(29, 209, 0, 0.15);
}
.bus-destination {
  width: 808px;
  border-radius: 24px;
  background: #f7f8f8;
  padding: 32px;
  margin-top: 24px;
}
.bus-destination p {
  color: rgba(3, 7, 18, 0.6);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.bus-destination .row {
  border-bottom: 1px dashed #03071299;
}
.bus-destination .row:last-child {
  border: none;
}
.bus-destination .drop-point p {
  color: rgba(3, 7, 18, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.last-row {
}
.ticket-fare {
  color: var(--base-black, #030712);
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}
.seat-map {
  border-right: 1px dashed var(--green-color);
  padding-right: 24px;
}
.seat-map h4 {
  color: var(--primary-color);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
.seat-map .b-border {
  padding: 20px 0;
  border-top: 1px dashed #cccdcf;
  border-bottom: 1px dashed #cccdcf;
}
.seat-status p {
  color: var(--green-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wheel-btn,
.seat-disable {
  border-radius: 12px;
  background: rgba(3, 7, 18, 0.1);
  width: 110px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
